<div class="main-container">
  <header class="header">
    <div class="branding">
      <a routerLink="./home" class="nav-link">
        <clr-icon shape="store"></clr-icon>
        <span class="title">Abang Online</span>
      </a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger>
          {{name}}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a (click)="logout()" clrDropdownItem>Log out</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
      <a clrVerticalNavLink routerLink="./user" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="user"></clr-icon>
        User
      </a>
    </clr-vertical-nav>
  </div>
</div>